@import url('../../../interfaces/assets/css/simulator-modules.css');
@import url('../../../interfaces/assets/css/simulator-wifi.css');
@import url('../../../interfaces/assets/css/simulator-robot.css');

#board-viewer {
	height: 400px;
}


#main-py{
	position: absolute;
	top: 75px;
	left: 84px;
	color: #fff;
	font-size: 13px;
	height: 20px;
	width: 159px;
	text-align: left;
	padding-bottom: 3px;
	border-bottom: solid white 1px;
}
#main-py span{
	position: absolute;
	top: 4px;
	left: 145px;
	margin-left: auto;
	height: 10px;
	width: 10px;
	background-color: forestgreen;
	border-radius: 50%;
}


.canvas-galaxia-screen {
	width: 160px;
	height: 128px;
	position: absolute;
	top: 75px;
	left: 83px;
	z-index: 1000;
}

#galaxia_btn_A {
	bottom: 119px;
}
#galaxia_btn_B {
	bottom: 49px;
}
#galaxia_btn_A,
#galaxia_btn_B {
	left: 196px;
	cursor: pointer;
}

.galaxia_btn {
	width: 54px;
	height: 54px;
	position: absolute;
}


#galaxia_led_top{
	width: 34px;
	height: 38px;
	position: absolute;
	left: 134px;
	top: -5px;
}
#GalaxiaLed{
	fill: none;
}

.galaxia_btn_effect {
	background-image: url('/openInterface/galaxia/assets/media/simulator/board/Galaxia_button_clic.png');
	transition: all 0.25s;
}
.galaxia_btn:hover {
	box-shadow: 2px 2px 5px 0px var(--bg-1);
}

.galaxia_pad {
	cursor: pointer;
	position: absolute;
	background-size: contain;
	background-position: center;
	transition: all 0.25s;
}
.galaxia_pad:hover {
	box-shadow: 2px 2px 5px 0px var(--bg-1);
}

#galaxia_pad_up {
	bottom: 132px;
}
#galaxia_pad_down {
	bottom: 42px;
}
#galaxia_pad_up,
#galaxia_pad_down {
	left: 66px;
	width: 94px;
	height: 52px;
}

#galaxia_pad_left {
	left: 42px;
}
#galaxia_pad_right {
	left: 132px;
}
#galaxia_pad_left,
#galaxia_pad_right {
	bottom: 66px;
	width: 52px;
	height: 94px;
}

#galaxia_screen-value {
	width: 160px;
	height: 108px;
	padding: 2px;
	text-align: left;
	display: block;
	/* align-items: flex-end; */
	color: #fff;
	font-family: 'Courier New';
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	position: absolute;
	letter-spacing: 0.08em;
	top: 96px;
	left: 83px;
	z-index: 1;
	
}

#galaxia-compassDir_anim {
	z-index: 1;
	width: 7%;
	height: auto;
	left: 27px;
	top: -8px;
	transform-origin: bottom center;
}


.galaxia_pad_up_effect {
	background-image: url('/openInterface/galaxia/assets/media/simulator/board/Galaxia_pad_up.png');
}
.galaxia_pad_down_effect {
	background-image: url('/openInterface/galaxia/assets/media/simulator/board/Galaxia_pad_down.png');
}
.galaxia_pad_left_effect {
	background-image: url('/openInterface/galaxia/assets/media/simulator/board/Galaxia_pad_left.png');
}
.galaxia_pad_right_effect {
	background-image: url('/openInterface/galaxia/assets/media/simulator/board/Galaxia_pad_right.png');
}

#galaxia_gesture_list {
	border-style: solid;
	border-width: 1px;
	border-color: var(--text-0);
	min-height: 1em;
}
.galaxia_current_gesture {
	border-color: var(--vitta-red);
	margin: 1em;
}

@keyframes shake {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(0.8, 0.8);
	}
	100% {
		transform: scale(1, 1);
	}
}

.galaxia_active_gesture_down {
	transform: rotate(180deg);
}
.galaxia-gesture-left_active,
.galaxia-gesture-right_active {
	-webkit-transform: rotateY(80deg);
	transform: rotateY(80deg);
}
.galaxia-gesture-facedown_active {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.galaxia-gesture-freefall_active {
	transform: scale(0.2, 0.2);
}
.galaxia-gesture-shake_active {
	animation-name: shake;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
}
.galaxia-gesture-3g_active {
	animation-name: shake;
	animation-duration: 0.5s;
}
.galaxia-gesture-6g_active {
	animation-name: shake;
	animation-duration: 0.3s;
}
.galaxia-gesture-8g_active {
	animation-name: shake;
	animation-duration: 0.1s;
}

#galaxia-gesture-shake_anim,
#galaxia-gesture-up_anim,
#galaxia-gesture-down_anim,
#galaxia-gesture-left_anim,
#galaxia-gesture-right_anim,
#galaxia-gesture-faceup_anim,
#galaxia-gesture-facedown_anim,
#galaxia-gesture-freefall_anim,
#galaxia-gesture-3g_anim,
#galaxia-gesture-6g_anim,
#galaxia-gesture-8g_anim {
 	bottom: 6px;
}

#galaxia-accelerometer-pitch_anim,
#galaxia-accelerometer-roll_anim {
	bottom: -5px;
}

#galaxia-compassDir_anim {
	z-index: 1;
	width: 7%;
	height: auto;
	left: 27px;
	top: -8px;
	transform-origin: bottom center;
}

.button-download-log {
	position: absolute;
	top: 0px;
	right: -90px;
	z-index: 100;
	border: none;
	border-radius: 10px;
	background-color: var(--vitta-green);
	color: white;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: var(--vitta-green-dark);
		transition: all 0.2s ease-in-out;

	}
}

#galaxia-log_anim {
	position: absolute;
	top: -13px;
	left: 0px;
	z-index: 10;
	transition: all 0.1s ease-in-out;
}

