@import url('../../../interfaces/assets/css/simulator-modules.css');
@import url('../../../interfaces/assets/css/simulator-robot.css');

.photon-motorLeft,
.photon-motorRight {
	z-index: 1;
	top: -1px;
	left: 2px;
}

.photon-motorLeft_base {
	z-index: 2;
	opacity: 0.9;
}

.photon-motorLeft_base,
.photon-motorRight_base {
	bottom: 0px;
	left: 16px;
}

.battery-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	right: 15px;
}

.battery {
	width: 40px;
	height: 60px;
	border: 2px solid var(--vitta-black);
	border-radius: 5px;
	background-color: #ddd;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.battery-level {
	width: 100%;
	height: 0;
	background-color: var(--vitta-red);
	border-radius: 0 0 5px 5px;
}

.battery-tip {
	width: 20px;
	height: 5px;
	background-color: var(--vitta-black);
}