:root {
    --blackVN: #231f20;
    --text-p: #555;
    --smoothGreenVN: #6FCEA6;
    --yellowVN: #FFDE52;
    --dark-blue: #001a4c;
    --pinkVN: #ff7070;
    --maya-blue: #7391FF;
    --bg-body: #ffffff;
    --bg-2: #f5f5f5;
    --gray-middle: #707070;
    --shadow-color: #00000025;
    --bottom-arrow-icon-size: 1.5rem;
    --bottom-arrow-size: 5rem;
    --box-shadow: 2px 2px 0px 0px var(--shadow-color);

}

body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    background-color: var(--bg-body);
    color: var(--blackVN);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#landing-page-container {
    background-color: var(--bg-2);
    height: 100%;
}

.container {
    max-width: 960px;
}

h2,
h3,
.h2,
.h3 {
    font-weight: 800;
}

h2 {

    padding-bottom: 5px;
    margin-bottom: 15px;
}

h6 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border-bottom: 1px solid var(--maya-blue);
}

a {
    position: relative;
    color: var(--maya-blue);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--smoothGreenVN);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

a:hover {
    color: var(--smoothGreenVN);
}

a:hover::after {
    transform: scaleX(1);
}

/* classes bootstrap utilisées */
*,
::after,
::before {
    box-sizing: border-box;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.py {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-line-height: 1.5;
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 600;
    fill: #231f20;
    color: #231f20;
    box-shadow: 5px 5px 0px 0px #231f20;
    border-radius: 2px;

}

.btn:focus {
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

/*
 * Switcher Styles
 */
.switcher {
    display: flex !important;
    flex-direction: row !important;
    background: var(--bg-1) !important;
    position: relative !important;
    width: max-content !important;
    border: 1px solid var(--dark-blue) !important;
    border-radius: 5px !important;
    height: 30.8px !important;
    min-width: 185px !important;
    z-index: 2 !important;

}

.switcher__toggle {
    position: absolute !important;
    float: left !important;
    font-size: 12px !important;
    line-height: 30px !important;
    cursor: pointer !important;
    left: 5px !important;
    border-radius: 5px !important;
    top: 2px !important;
    height: 26px !important;
    width: 97px !important;
    background-color: var(--maya-blue) !important;
    z-index: 3 !important;
    transition: all 0.3s ease !important;
    will-change: transform !important;
}

.switcher__label {
    min-width: 92px !important;
    z-index: 5 !important;
    font-size: 12px !important;
    line-height: 30px !important;
    color: var(--text-1) !important;
    text-align: center !important;
    cursor: pointer !important;
    position: inherit !important;
    z-index: 10 !important;
    transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
    will-change: transform !important;
}

.switcher__input {
    display: block;
    position: absolute;
    background-color: #fff;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}

.switcher__input:focus {
    opacity: 0.01 !important;

}

/* Switcher input NEED a left & right element at a minimum
   * then you build "middle elements" as much as you want 
   */


/* Default element */

.switcher__input:checked+.switcher__label {
    color: #fff !important;
}


/* Right element */

.switcher__input--right:checked~.switcher__toggle {
    left: calc(100% - 99px) !important;
}

/* Left element */
.switcher__input--left:checked~.switcher__toggle {
    left: 5px !important;
}


/* If you have several "mid" elements
   * Create a new class: switcher__input--middleX where X is the index of the element
   */

.switcher__input--middle1:checked~.switcher__toggle {
    left: 99px !important;
}


/* 4px related to the padding
   * If you change the padding update this value too
   */

.switcher__input--middle2:checked~.switcher__toggle {
    left: calc((95px * 2) + 4px) !important;
}

.switcher__input--middle3:checked~.switcher__toggle {
    left: calc((95px * 3) + 4px) !important;
}

.switcher__input--middle4:checked~.switcher__toggle {
    left: calc((95px * 4) + 4px) !important;
}


/* En-tête */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F2F2F2;
}

.header .logo {
    margin: 0 20px;
    height: 60px;
}

.main-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* Conteneur principal */
.carbon-footprint-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#bottom-arrow img {
    width: var(--bottom-arrow-icon-size);
    height: var(--bottom-arrow-icon-size);
    transform: rotate(45deg);
}

/* Section texte */
.text-section {
    flex: 3;
    padding-right: 20px;
    text-align: left;
}

.text-section h1,
.main-container h1 {
    color: var(--maya-blue);
    font-size: 2.7em;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1em;
}

.text-section p {
    font-size: 1.2em;
    color: var(--blackVN);
    line-height: 1.5;
}

/* Section image */
.image-section {
    flex: 4;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

/*questioner*/

#question-section {
    padding-bottom: 50px;
    text-align: center;
}

#question-section h3 {
    margin-top: 20px;
}

.container-calculator {
    width: 70%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: var(--box-shadow);
    opacity: 1;
    padding: 20px;
    margin: 50px auto;

}

/* Questions */
.question label {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    align-items: center;
}

.select-section {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;
}

.input-label {
    flex: 5;
}

code,
.text-end {
    color: var(--pinkVN);
}

/* Custom Navigation Buttons */
#navigation .btn {
    padding: 10px 20px;
    font-size: 16px;
}

/* Container de la barre de progression */
.progress-container {
    position: relative;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    height: 20px;
    width: 90%;
    margin: 40px auto;
    margin-bottom: 50px;

}

/*image d'explosion */
.progress-container img {
    left: 98%;
    width: 100px;
    position: absolute;
    z-index: 10;
    display: none;
    bottom: -150%;
}

/* Barre de progression elle-même */
.progress-bar {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    margin-right: 10px;
    position: absolute;

}

/*hachuré space*/
.grow-bar {
    border-radius: 2px 0 0 2px;
    position: absolute;
    line-height: normal;
    top: 0;
    z-index: 1;
    transition: none;
    height: 20px;
    overflow: hidden;

}

.text-grow-bar {
    z-index: 50;
    position: absolute;
    top: 0;
    text-shadow:
        1px 1px 0px rgba(255, 255, 255, 1),
        /* contour blanc */
        -1px -1px 0px rgba(255, 255, 255, 1),
        1px -1px 0px rgba(255, 255, 255, 1),
        -1px 1px 0px rgba(255, 255, 255, 1);
    font-weight: bold;
    color: var(--text-p);
    line-height: normal;
    margin-left: 2px;
}

.white-sheen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    transition: none;
    transform-origin: center left;
    filter: grayscale(1) brightness(2.5);
    background-image:
        url('assets/images/bg_hachura.png');
    -webkit-animation: meter-change-indicator-gain 4.5s linear infinite;
    animation: meter-change-indicator-gain 4.5s linear infinite;
}

.reverse {
    -webkit-animation: meter-change-indicator-gain-inverse 4.5s linear infinite;
    animation: meter-change-indicator-gain-inverse 4.5s linear infinite;
    filter: none;
}

.filled {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.progress-step {
    width: 1px;
    height: 40px;
    border: 1px solid var(--text-p);
    position: absolute;
    z-index: 1;
    top: -10px;
}

.progress-step p {
    margin-top: 10px;
    width: 100px;
    right: 50px;
    position: relative;
}

.step-one {
    left: 25%;
}

.step-two {
    left: 50%;
}

.step-three {
    left: 75%;
}

.slice-one {
    width: 50%;
    /* Pourcentage de la première partie */
    background-color: var(--smoothGreenVN);
    border-radius: 10px 0 0 10px;

}

.slice-two {
    width: 25%;
    /* Pourcentage de la deuxième partie */
    background-color: var(--maya-blue);
}

.slice-three {
    width: 25%;
    /* Pourcentage de la troisième partie */
    background-color: var(--yellowVN);
    border-radius: 0 10px 10px 0;
}

#progressBarAverage,
#progressBarAverageSimulation {
    display: none;
    position: relative;
    bottom: 20px;
    height: 20px;
    border-radius: 0 10px 10px 0;
    border: 1px var(--blackVN) solid;
    background-color: var(--bg-body);

}


.number-input-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    overflow: hidden;
    width: 185px;
    justify-content: space-around;
}

.number-input-container button {
    background-color: transparent;
    border: none;
    color: var(--dark-blue);
    font-size: 1.2em;
    padding: 0 10px;
    cursor: pointer;
    width: 30px;
}

.styled-number-input {
    width: 60px;
    border: none;
    text-align: center;
    padding: 5px 0;

    color: var(--dark-blue);
    font-size: 1em;
    font-family: inherit;
}

.number-input-container button:hover {
    background-color: var(--bg-body);
}

.number-input-container button:focus,
.styled-number-input:focus {
    outline: none;
}

input[type=number] {
    border: none;
    width: 80px;
    text-align: center;
}

/*hide spinners
/* Pour les navigateurs WebKit (Chrome, Safari, Opera) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Cacher les flèches dans Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Pour Microsoft Edge (Legacy) */
input[type=number]::-ms-clear {
    display: none;
}

/*input select*/
.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 2em;
    min-height: 300px;
}

.grid-four-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.option {
    position: relative;
    width: 100%;
    height: 140px;
}

.option input[type="checkbox"] {
    position: relative;
    z-index: 1;
    min-width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    height: 100%
}

.option input:checked {
    border: none;
    outline: 2px solid var(--smoothGreenVN);
    background-color: #cecece3d;
    box-shadow: var(--box-shadow);

    border-radius: 3px;
}

.option label {
    position: absolute;
    z-index: 5;
    width: 100%;
    border: 2px solid var(--smoothGreenVN);
    border-radius: 3px;
    cursor: pointer;
    font-size: medium;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 140px;
    height: 100%;
}

.option label p {
    margin: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.option label img {
    height: auto;
    max-width: 125px;
    min-height: 80px;
    margin: 5px;
}

.option label strong {
    text-align: start;
}

.option input[type="checkbox"]:checked+label {

    border-color: white;
    background-color: #cecece3d;
    box-shadow: var(--box-shadow);

}


.option input[type="checkbox"]+label strong {
    display: none;
}

.option input[type="checkbox"]:checked+label strong {
    display: block;
}




.progress-balance-sheet {
    box-sizing: border-box;
    border-radius: 10px;
    height: 15px;
    max-width: 100%;
    overflow: hidden;
}

.grid-item {
    max-width: 100%;
    overflow: hidden;
    padding-right: 10px;
}

.service-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
    width: 100em;
    flex-direction: row;
}

.impact-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.clickable img,
.awesome-icon {
    width: 15px;
    height: 15px;
    filter: contrast(20%)
}


.impact-container span {
    text-align: start;
}

.impact-container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2.4fr 0.5fr 0.1fr;
    border-bottom: 1px solid var(--shadow-color);
    min-height: 2.5em;
    justify-content: start;
    justify-items: start;
    align-items: center;
}

.reduction {
    grid-template-columns: 2.5fr 0.5fr 0.5fr;
}

.orange {
    background-color: var(--maya-blue);
}

.red {
    background-color: var(--yellowVN);
}

.green {
    background-color: var(--smoothGreenVN);
}

fieldset {
    text-align: start;
    position: relative;
}

fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.ide-btn {
    outline: none;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    font-weight: bold;
    border: transparent 2px solid;
    white-space: nowrap;
    text-align: center;
    margin-right: 3px;
    min-height: 45px;
    min-width: 45px;
}

.ide-btn:hover {
    border: 1px solid var(--gray-middle);
    border-radius: 50%;
}

.ide-btn img {
    filter: brightness(0.2) opacity(0.6);
    width: 20px;
    height: 20px;
}

.ide-btn-group {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    padding: 0 10px;
    cursor: pointer;
    width: auto;
    align-items: center;
    margin: 2px;
    margin-left: 20px;
    border-radius: 5px;
}

#navigation {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

#next {
    background-color: var(--maya-blue);
    border: none;
}

#prev {
    background-color: var(--yellowVN);
    border: none;
    color: var(--blackVN);
}

#progressBarAverageText {
    display: inline;
}

.smileProgression {
    margin: 0.5em;
    font-size: xx-large;
}

#simul-container {
    text-align: center;
}

.smiley-container {
    z-index: 10;
    /* Assure que le smiley reste au-dessus des autres éléments */
}

.smiley {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    font-size: 40px;
    /* Taille par défaut du smiley */
    animation: moveUp 2s ease-out forwards;
}

.titleWithButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.co2-tooltip {
    padding: 5px;
    background-color: beige;
    border: 1px solid var(--smoothGreenVN);
    border-radius: 5px;
}

.show-rules {
    display: none;
}

.clicable img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: brightness(0.2) opacity(0.6);
}

/* info block */
.info-block {
    padding: 5px;
    background-color: #f5f5dc3b;
    border: 2.5px solid var(--smoothGreenVN);
    border-radius: 5px;
    position: relative;
}

.info-block hr {
    margin: 0;
    color: var(--maya-blue);
}

.close-button {
    height: 25px;
    width: 25px;

    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(35%, -35%);
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border: 1px solid var(--gray-middle);
    border-radius: 20px;
    background-color: var(--bg-body);

}

.close-button:hover {
    border-color: var(--blackVN);

}

.item {
    position: relative;
}

.item-title {
    position: relative;
    z-index: 10;
}

.item-text {
    position: absolute;
    z-index: 1;
}


/*print settings*/
@page {
    size: auto;
    margin: 0;
}

/*keyframes*/
@keyframes meter-change-indicator-gain {
    from {
        background-position: 50% 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes meter-change-indicator-gain-inverse {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 50% 0;
    }
}

@keyframes moveUp {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    50% {
        bottom: 50px;
        /* Monte à mi-hauteur */
        opacity: 1;
    }

    100% {
        bottom: 70px;
        /* Monte légèrement plus */
        opacity: 0;
        /* Devient invisible */
    }
}

@media print {
    #questionnaire-container {
        display: block;
        width: auto;
    }

    #head-section,
    #simul-container,
    #vitta-footer,
    .ide-btn-group,
    .progress-container,
    #prev {
        display: none;
        /* Masque tout le contenu */
    }
}

@media (max-width: 768px) {
    .main-container {
        width: 90%;
        color: black;
    }

    .header {
        flex-direction: column;
    }

    .carbon-footprint-container {
        flex-direction: column;
        width: 90%;

    }

    .select-section {
        align-items: center;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 1em;
    }

    .text-section,
    .image-section {
        flex: 1;
        padding-right: 0;
    }

    .container-calculator {
        width: 98%;
    }


    .questionnaire-container {
        margin-bottom: 1em;
        width: 100%;
    }

    .text-section h1 {
        font-size: 1.7em;
    }

    .grid-four-columns,
    .options-container {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .service-container {
        max-width: 76%;
    }

    .progress-container img {
        left: 80%;
    }

}
@media (min-width: 1100px)  {
       .option label img {
    min-height: 70px;
    }

}
@media (max-width: 390px)  {
       .option label img {
    min-height: 60px;
    }

}

@media (min-width: 768px) and (max-width: 940px) {
    .container-calculator {
        width: 80%;
    }

    .progress-container img {
        left: 95%;
    }

}

/* page tips */
.masonry-grid {
    display: block;
    column-gap: 16px;
}

.masonry-item {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 16px;
    padding: 12px;
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: var(--box-shadow);

    transition: transform 0.2s ease-in-out;
    border: 1px solid var(--smoothGreenVN);
}

.masonry-item:hover {
    transform: scale(1.02);
}

@media (min-width: 1100px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media (max-width: 1099px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (max-width: 699px) {
    .masonry-grid {
        column-count: 1;
    }
}