.progress-bar-area {
	background-color: var(--bg-0);
	border-radius: 1.5em;
	padding: 0 0.5em 0.5em 0.5em;
	opacity: 0.7;
}

.progress-bar-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1051;
	display: none;
}

.progress-bar-description {
	text-align: center;
	font-weight: 700;
	margin: 0.2em 0em;
}

.progress-bar-wrapper {
	width: 50vw;
	height: 5vh;
	background-color: var(--bg-3);
	border: 2px solid var(--bg-5);
	border-radius: 256px;
	position: relative;
	overflow: hidden;
}

.progress-bar-value {
	height: 5vh;
	background-color: var(--vitta-green-dark);
	border-radius: 5vh;
	width: 0%;
	position: absolute;
	top: -2px;
	text-align: center;
	line-height: 5vh;
	color: var(--bg-0);
	font-size: 1.5rem;
	font-weight: 600;
	overflow: hidden;
	transition: transform 0.2s linear;
}