/* Blockly Toolbox Style */

.blocklyToolboxDiv {
  background: var(--bg-2) !important;
  border-inline-end: rgba(128, 128, 128, 0.28) 3px solid;
  overflow-x: hidden;
  transition: all 0.2s;
}

.blocklyToolboxDiv .blocklyTreeLabel {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--alt-font);
  cursor: pointer;
}

.blocklyToolboxDiv .blocklyTreeRow {
  height: 40px;
  padding-top: 7px;
}

.blocklyToolboxDiv .blocklyTreeRow:hover {
  cursor: pointer !important;
  background-color: var(--bg-3) !important;
}

.blocklyToolboxDiv .blocklyTreeRow:focus-within {
  outline-color: var(--vitta-green);
}

.blocklyToolboxDiv .blocklyTreeRow {
  height: 40px;
}

.blocklyToolboxDiv .svgIcon {
  display: inline-flex !important;
  align-content: center;
  align-items: center;

  --size: 1.2em;
  width: var(--size);
  height: var(--size);

  transform: translateY(25%);
}

.blocklyToolboxDiv .svgIcon svg {
  height: var(--size);
  width: var(--size);
  max-width: var(--size);
  max-height: var(--size);
}

.blocklyToolboxDiv .svgIcon,
.blocklyToolboxDiv .icon_blockly {
  margin-inline: 0.3em;
}

.blocklyToolboxDiv .blocklyTreeSeparator {
  border-color: var(--bg-4);
}

.blocklyTreeSelected {
  background-color: var(--bg-4) !important;
}

.blocklyTreeIcon {
  background: none !important;
}

.blocklyMainBackground {
  stroke: none !important;
}

.blocklySvg {
  width: 100%;
  height: 100%;
  border-top: none !important;
  background-color: var(--bg-1) !important;
}

.blocklyScrollbarHandle {
  --scrollbar-rgb: var(--bg-4-rgb);
  --scrollbar-opacity: 0.4;
  fill-opacity: 1 !important;
  fill: rgba(var(--scrollbar-rgb), var(--scrollbar-opacity)) !important;
}

.blocklyTooltipDiv {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--vitta-white);
  color: var(--vitta-black);
  font-family: var(--alt-font);
}

.myLabelStyle>.blocklyFlyoutLabelText {
  font-weight: bold;
  fill: #565656;
}


/* SMALL BLOCKLY TOOLBOX STYLE */

.blocklyToolboxDiv-small .icon_blockly {
  font-size: 35px;
  margin: unset;
}

.blocklyToolboxDiv-small .blocklyTreeLabel {
  display: none;
}

.blocklyToolboxDiv.blocklyToolboxDiv-small {
  width: 80px;
}

.blocklyToolboxDiv-small .blocklyTreeRow {
  height: 50px;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.blocklyToolboxDiv-small .svgIcon {
  transform: none;
  margin: unset;
}

/* SEARCH BAR */

.blocklyToolboxDiv-small #search {
  display: none;
}

#search {
  height: auto !important;
}

#search-block-input {
  border: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 1px solid var(--text-1);
  background: transparent !important;
  width: 80%;
  font-family: var(--alt-font);
  color: var(--text-1);
}

#search-block-input:focus {
  outline: none;
  border-bottom-color: var(--text-0);
}

/* LEVEL SWITCHER */

#toolbox-level {
  display: grid;
  grid-template-columns: 1fr 60px;
  font-family: var(--alt-font);
  margin-left: 6px;
  width: 89%;
}

.blocklyToolboxDiv-small #toolbox-level {
  display: none;
}

#toolbox-level span {
  align-self: center;
  text-align: center;
  width: 117px;
}

#toolbox-level>div {
  justify-self: end;
}

#toolbox-level .switcher {
  height: 30px;
  min-width: 40px;
}

#toolbox-level .switcher__label {
  min-width: 22px;
  line-height: 22px;
  margin-bottom: 0px;
}

#toolbox-level .switcher__toggle {
  width: 20px;
  height: 20px;
}

#toolbox-level .switcher__input--right:checked~.switcher__toggle {
  left: calc(100% - 25px);
}

/* Subcategories arrows */

.blocklyToolboxCategory[aria-expanded="false"],
.blocklyToolboxCategory[aria-expanded="true"],
.blocklyToolboxCategory[aria-expanded="undefined"] {
  position: relative;
}

.blocklyToolboxCategory[aria-expanded="false"]>.blocklyTreeRow::after,
.blocklyToolboxCategory[aria-expanded="true"]>.blocklyTreeRow::after,
.blocklyToolboxCategory[aria-expanded="undefined"]>.blocklyTreeRow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 0.8em;
  
  color: var(--text-1);
  padding-right: 0.5em;
  transform: rotate(270deg);
  transition: transform 0.2s ease;
  
  position: absolute;
  right: 0.1em;
  top: 1em;

  display: flex;
  align-items: center;
  
  height: 1em;
  width: 1em;
}

.blocklyToolboxCategory[aria-expanded="true"]>.blocklyTreeRow::after {
  transform: rotate(360deg);
}