.vitta-modal {
    width: calc(100% - 3em);
    min-width: 100px;
    max-width: 1200px;

    height: auto;
    max-height: calc(100% - 20vh);

    display: none;
    padding: 20px;

    background: var(--bg-1);
    filter: drop-shadow(0 0 3px var(--vitta-shadow-color));
    border-radius: 20px;

    z-index: 1000;

    overflow-y: auto;
    flex-direction: column;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    margin: 15vh auto;

    font-family: var(--main-font) !important;
    overflow: visible;

}

.vitta-modal.vitta-modal-warning .modal-content-div {
    background-color: var(--bg-1);
    border-color: var(--bg-2);
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .vitta-modal button {
        white-space: normal;
    }
}

.vitta-modal-warning {
    z-index: 2000 !important;
}

@media (min-width: 600px) {
    .vitta-modal-warning {
        width: 50%;
    }
}

.vitta-modal-tall {
    margin-top: 10vh;
    max-height: calc(100vh - 15vh);
    height: 100%;
}

.vitta-modal-content-container {
    height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;

    /* in case the content overflows and the vitta-modal-content doesn't catch it*/
    overflow-y: auto;
}

.vitta-modal-header {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
    flex-shrink: 0;
}

.vitta-modal-title {
    font-size: 20px;
    color: var(--vitta-green);
    align-items: center;
    font-weight: bold;
}

.vitta-modal-title span {
    margin-inline-start: 5px;
}

.vitta-modal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.vitta-modal-footer {
    display: block;
    margin-top: 0.5rem;
    flex-shrink: 0;
}

.vitta-btn {
    width: auto;
    height: auto;
    background-color: var(--bg-3);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.vitta-modal-exit-btn {
    height: 35px;
    width: 35px;

    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(35%, -35%);
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

    --bs-btn-padding-x: 0.15em;
    --bs-btn-padding-x: 0.15em;
    --bs-btn-focus-box-shadow: 0px 0px 10px var(--vitta-blue);
    --bs-btn-border-radius: 50%;

    --bs-btn-color: var(--text-1);
    --bs-btn-bg: var(--bg-1);
    --bs-btn-border-color: transparent;

    --bs-btn-hover-color: var(--text-1);
    --bs-btn-hover-bg: var(--bg-3);
    --bs-btn-hover-border-color: transparent;

    --bs-btn-active-color: var(--text-2);
    --bs-btn-active-bg: var(--bg-3);
    --bs-btn-active-border-color: transparent;
}

.vitta-btn:hover {
    background-color: var(--vitta-orange-light) !important;
}

.modal-footer-div {
    width: 100%;
    display: flex;
}

.modal-content-div {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
}

.modal-message-noUser {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% - 30px);
    background-color: rgba(253, 253, 253, 0.8);
    border-radius: 0.25rem;
    border: 1px solid var(--bg-5);
    margin: 0 0 -5px -5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 10;
}

.theme-dark .modal-message-noUser {
    background-color: rgba(32, 32, 32, 0.8);
}

.modal-message-noUser span {
    opacity: 100%;
    color: var(--text-1);
    font-size: 25px;
    margin: auto;
}

/* Custom rules */
/* Precise the modal affected like followed */

div#modal-openproject .vitta-modal-footer .file-input,
div#modal-openproject .vitta-modal-footer .file-preview {
    display: flex;
    flex-direction: column;
}

div#modal-openproject .vitta-modal-footer .modal-footer-div {
    flex-direction: column;
}

div#modal-openproject .vitta-modal-footer .modal-footer-div .file-preview {
    background-color: var(--bg-1);
    border-radius: 10px !important;
}

div#modal-shareproject .tab-pane {
    background-color: var(--bg-1);
    border: 1px solid var(--text-0);
    border-radius: 0 10px 10px 10px;
    padding: 1em 2em;
}

div#modal-shareproject .nav-tabs {
    border-bottom: 0 !important;
}

div#modal-shareproject #modal-shareproject-options-title b i {
    transition: all 0.8s
}

div#modal-shareproject #modal-shareproject-options-title[aria-expanded='false'] b i {
    transform: rotate(-90deg);
}

div#modal-gpsmap {
    height: 70vh;
}


div#modal-gpsmap .vitta-modal-content {
    height: 95%;
}



@media (max-width: 1000px) {
    div#modal-blocklysettings {
        width: 80%;
    }
}

@media (max-width: 850px) {
    div#modal-blocklysettings {
        width: 90%;
    }
}

@media (max-width: 769px) {

    div#modal-blocklysettings #blocks-settings-style,
    div#modal-blocklysettings #blocks-settings-font,
    div#modal-blocklysettings #toolbox-settings {
        padding-top: 10px;
    }
}

@media (max-width: 768px) {
    div#modal-gpsmap {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    div#modal-gpsmap {
        width: 100%;
    }

    div#modal-gpsmap .map-container {
        height: 35vh;
    }
}